{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card bg-light mb-3">
      <div class="card-header"><i class="fa fa-list"></i> Listado de Marcas</div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
            {% for marca in object_list %}
              <tr>
                <th scope="row">{{marca.id}}</th>
                <td>{{marca.nombre}}</td>
                <td>
                  <ul>
                    <li><i class="fa fa-pen"></i></li>
                    <li><i class="fa fa-eraser"></i></li>
                  </ul>
                </td>
              </tr>
            {% empty %}
              <tr>
                  <p class="text-center">No hay Datos que Mostrar</p>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-6">
  <a class="btn btn-primary" href="{% url 'marcacreate' %}"><i class="fa fa-plus"></i> Agregar Marcas</a>
</div>
{% endblock %}
