<<<<<<< HEAD
 ul li {
 list-style:none;
 float: left;
 margin-left: 15px
 }

.page-header
 {
    margin-top:145px !important;
 }
=======
ul li 
{
   list-style: none;
   float: left;
   margin-right: 25px;
}
>>>>>>> github/master
